


@using akset.data.ViewModel
@model LoginViewModel
@{
    ViewBag.Title = "E-Mail Doğrulama";
}



<section class="panel" style="border-color:#ddd">
        <div class="panel-heading basi" style="font-weight:bold">E-Mail Doğrula</div>
        <div class="panel-body" style="padding:10px">
            @if (Request.IsAuthenticated)
            {
                <p class="alert alert-success">
                    Mail Adresiniz Doğrulanmıştır.
                </p>
            }
            else
            {
                <div class="col-md-4 col-xs-12">
                    <section id="socialLoginForm">
                        @*@Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })*@
                        <p>
                            <a href="/Account/Register"><i class="fa fa-hand-o-right"></i> Yeni kayıt oluştur</a>
                        </p>
                        <p>
                            <a href="/Account/ForgotPassword"><i class="fa fa-hand-o-right"></i> Şifremi Unuttum?</a>
                        </p>
                    </section>
                </div>
                <div class="col-md-8 col-xs-12">
                    <section id="loginForm">
                        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <h4>Kayıt Bilginiz ile giriş yapın</h4>
                            <hr style="margin-bottom:15px !important" />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label" for="Password">Şifre</label>
                                <div class="col-md-10">
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group hidden">
                                <div class="col-md-offset-2 col-md-10">
                                    <div class="checkbox">
                                        @Html.CheckBoxFor(m => m.RememberMe)
                                        @Html.LabelFor(m => m.RememberMe)
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Giriş Yap" class="btn btn-default" />
                                </div>
                            </div>
                        }
                    </section>
                </div>
            }

        </div>
        </section>



