@model akset.data.ViewModel.ResetPasswordViewModel
@{
    ViewBag.Title = "Şifre Yenileme";
    ViewBag.ogaciklama = Html.Raw("Şifre Yenileme");
}

<div class="container" data-bxyield="content" data-bxarea="">
    <div data-bxarea="content__area_645">
        <div class="panel panel-default ucus-bilgileri" data-bxarea="content__area_647">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-info-circle fa-fw"></i>Yeni Üyelik Oluştur</h3>
            </div>
            <div class="panel-body" style="padding-top:15px">
                <div class="col-xs-12">
                    <section class="panel" style="border-color:#ddd">
                        <div class="panel-body" style="padding:10px">
                            <div class="col-xs-12">
                                <p class="alert alert-success">
                                    Lütfen Yeni Şifrenizi Belirleyiniz
                                </p>
                                @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                {
                                    @Html.AntiForgeryToken()

                                    @Html.ValidationSummary("", new { @class = "text-danger" })
                                    @Html.HiddenFor(model => model.Code)
                                    <div class="form-group hidden">
                                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                                        <div class="col-md-10">
                                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @Value = Request.QueryString["maili"].ToString(),@readonly = "readonly" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                                        <div class="col-md-10">
                                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                                        <div class="col-md-10">
                                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input type="submit" class="btn btn-default" value="Şifremi Değiştir" />
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}