@model akset.data.hesap

@{
    ViewBag.Title = "Create";
}
@section pagespecific {
    <script>
        $(document).ready(function () {
            $("#urunId").select2({
                language: "tr",
                placeholder: "Ürün Seçiniz"
            });
            $("#filitreId").select2({
                language: "tr",
                placeholder: "Filitre Seçiniz"
            });
            //$("#ozellikId").select2({
            //    language: "tr",
            //    placeholder: "Özellik Seçiniz"
            //});
        })
        $('#filitreId').change(function (e) {
            var vli = e.val;
            $.ajax({
                type: "GET",
                url: "/uruns/ozellikgetir",
                data: "id=" + vli,
                dataType: "json",
                success: function (response) {

                    var len = response.length;

                    $("#ozellikId").empty();
                    for (var i = 0; i < len; i++) {
                        var id = response[i]['Id'];
                        var name = response[i]['adi'];

                        $("#ozellikId").append("<option value='" + id + "'>" + name + "</option>");

                    }
                }
            });
        });
    </script>
}
<style>
    .select2-container {
        padding: 0 !important;
    }
</style>
<div id="content">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa fa-commenting-o fa-fw "></i>
                Hesap
                <span>
                    > Hesap Oluştur
                </span>
            </h1>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-align-right">
            <div class="page-title">
                <a href="/admin/hesaps/hesap" class="btn btn-success">Hesap Listesi</a>
            </div>
        </div>
    </div>

    <!-- widget grid -->
    <section id="widget-grid" class="">
        <!-- row -->
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-0" data-widget-editbutton="false">
                    <!-- widget options:
                    usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
                    data-widget-colorbutton="false"
                    data-widget-editbutton="false"
                    data-widget-togglebutton="false"
                    data-widget-deletebutton="false"
                    data-widget-fullscreenbutton="false"
                    data-widget-custombutton="false"
                    data-widget-collapsed="true"
                    data-widget-sortable="false"
                    -->
                    <header>
                        <span class="widget-icon"> <i class="fa fa-commenting-o"></i> </span>
                        <h2>Hesap Oluştur</h2>
                    </header>

                    <!-- widget div-->
                    <div>
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body">
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-horizontal">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group">
                                        <label class="control-label col-md-2" for="urunId">Ürün</label>
                                        <div class="col-md-10">
                                            @Html.DropDownList("urunId", null, htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.urunId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-2" for="filitre">Filitre</label>
                                        <div class="col-md-10">
                                            @Html.DropDownList("filitreId", null, htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.filitreId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-2" for="Özellik">Özellik</label>
                                        <div class="col-md-10">
                                            @Html.DropDownList("ozellikId", null, htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.ozellikId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-2" for="adet">Adet</label>
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.adet, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.adet, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-2" for="kaclira">Kaç Lira</label>
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.kaclira, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.kaclira, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input type="submit" value="Oluştur" class="btn btn-success" />
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>

