@model List<Vitrinler>
@{ 
    int say = 0;
}
<div id="content">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa fa-commenting-o fa-fw "></i>
                Vitrinler
                <span>
                    >
                    Vitrin Listesi
                </span>
            </h1>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-align-right">
            <div class="page-title">
                <a href="/admin/anasayfas/Create" class="btn btn-success">Vitrin Ekle</a>

            </div>
        </div>
    </div>

    <!-- widget grid -->
    <section id="widget-grid" class="">
        <!-- row -->
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-0" data-widget-editbutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-commenting-o"></i> </span>
                        <h2>Vitrin Listesi</h2>
                    </header>

                    <!-- widget div-->
                    <div>
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dt_basic">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Başlık</th>
                                            <th>Büyük Resim</th>
                                            <th>Küçük Resim</th>
                                            <th>Sıra</th>
                                            <th>Vitrin mi?</th>
                                            <th>Kampanya</th>
                                            <th>Aktif mi?</th>
                                            <th>#</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.OrderBy(a=>a.sira))
                                        {
                                            say++;
                                            <tr>
                                                 <td>
                                                    @say
                                                 </td>
                                                 <td>
                                                    @item.baslik
                                                 </td>
                                                 <td>
                                                    <a href="~/VitrinResimleri/@item.buyukresim" target="_blank">@item.buyukresim</a>  
                                                 </td>
                                                 <td>
                                                    <a href="~/VitrinResimleri/@item.kucukresim" target="_blank">@item.kucukresim</a>  
                                                 </td>
                                                 <td>
                                                    @item.sira
                                                 </td>
                                                 <td>
                                                    @item.vitrinmi
                                                 </td>
                                                 <td>
                                                    @{ 
                                                        string son = "Yok";
                                                        var dateOne = DateTime.Now;
                                                        if (item.kampany=="Evet")
                                                        {
                                                            var dateTwo = item.kapanis;
                                                            var diff = dateTwo.Subtract(dateOne);
                                                            var gunu = diff.Days == 0 ? "" : diff.Days + " Gün ";
                                                            var res = gunu + diff.Hours + " Saat " +  diff.Minutes + ":" + diff.Seconds;
                                                            son = res;
                                                        }
                                                    }
                                                    @string.Concat(dateOne>item.kapanis?"Bitti":son)
                                                 </td>
                                                 <td>
                                                    @string.Concat(item.aktifmi=="Evet" ? "Aktif" : "Pasif")
                                                 </td>
                                                 <td>
                                                   <a href="/admin/anasayfas/edit/@item.Id" class="btn btn-success btn-xs">Düzenle</a>
                                                   <a href="/admin/anasayfas/delete/@item.Id" onclick="return confirm('Silmek İstediğinize Emin misiniz?')" class="btn btn-danger btn-xs">Sil</a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>

@section pagespecific {
    <script>
        $(document).ready(function () {
            var responsiveHelper_dt_basic = undefined;
            var responsiveHelper_datatable_fixed_column = undefined;
            var responsiveHelper_datatable_col_reorder = undefined;
            var responsiveHelper_datatable_tabletools = undefined;

            var breakpointDefinition = {
                tablet: 1024,
                phone: 480
            };

            $('#dt_basic').dataTable({
                "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-12 hidden-xs'l>r>" +
                    "t" +
                    "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
                "autoWidth": true,
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Turkish.json"
                },
                "preDrawCallback": function () {
                    // Initialize the responsive datatables helper once.
                    if (!responsiveHelper_dt_basic) {
                        responsiveHelper_dt_basic = new ResponsiveDatatablesHelper($('#dt_basic'), breakpointDefinition);
                    }
                },
                "rowCallback": function (nRow) {
                    responsiveHelper_dt_basic.createExpandIcon(nRow);
                },
                "drawCallback": function (oSettings) {
                    responsiveHelper_dt_basic.respond();
                }
            });

        })

    </script>
}